<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Musicas API Deezer</title>
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Deezer Play, 30 sec's</h1>
      <form action="{{ url_for('search') }}" method="post">
        <div class="form-group">
          <input type="text" name="search_term" class="form-control" placeholder="Search for a track...">
        </div>
        <button type="submit" class="btn btn-primary">Procurar</button>
      </form>
    </div>
  </body>
</html>
